imagesflow_20210909122240/Microsoft.Flow/flows/477aabcb-4f59-47c1-a589-cf90766b8381/definition.json
{"name":"2bb775f5-875d-4596-b77e-59b947745c8b","id":"/providers/Microsoft.Flow/flows/2bb775f5-875d-4596-b77e-59b947745c8b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"try-Multiple images in mail","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"06fdc4de-26a0-4c30-bd34-cee78a1563b4","type":"User","tenantId":"24917450-fe15-4414-92ed-94fa8ec1b938"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-09-09T12:19:28.8444057Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"parameters":{"folderPath":"Inbox","to":"prachi.trivedi@sysfore.com","includeAttachments":true,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"HTMLImage","type":"string"}]}},"Condition":{"actions":{"Create_a_work_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","connectionName":"shared_visualstudioteamservices","operationId":"CreateWorkItem"},"parameters":{"account":"prachitrivedi0552","project":"smarthotel","type":"Feature","workItem/title":"@triggerOutputs()?['body/subject']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@triggerOutputs()?['body/attachments']","actions":{"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_2')","schema":{"type":"object","properties":{"Id":{"type":"string"},"Name":{"type":"string"},"ContentBytes":{"type":"string"},"ContentType":{"type":"string"},"Size":{"type":"integer"}}}}},"Append_to_string_variable":{"runAfter":{"Compose":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"HTMLImage","value":"<img src=\"data:image/png,@{base64(outputs('Compose'))}\" alt=\"image.png\"><br><br>"}},"Compose":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Compose","inputs":"@base64ToBinary(body('Parse_JSON')?['ContentBytes'])"}},"runAfter":{"Create_a_work_item_2":["Succeeded"]},"type":"Foreach"},"Update_a_work_item":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","connectionName":"shared_visualstudioteamservices","operationId":"UpdateWorkItem"},"parameters":{"account":"prachitrivedi0552","id":"@outputs('Create_a_work_item_2')?['body/id']","project":"smarthotel","workItem/description":"<html>@{variables('HTMLImage')}</html>","type":"Feature","workItem/dynamicFields/Vsts.TagsAction":"Replace"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"expression":{"contains":["@triggerOutputs()?['body/subject']","test"]},"type":"If"}}},"connectionReferences":{"shared_visualstudioteamservices":{"connectionName":"shared-visualstudiot-2da4ed68-11b8-4815-ad14-f30b-735cfd27","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-60af2c36-b917-4b85-b789-0428-ef60d2d5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}